api/data
**__pycache__**
.idea/
api/language/result/
tss.py
api/temp_data
api/logFile.txt
.idea
te.py
thang
bml_ipfs/data
bml_ipfs/data/*
api/model.py
bml_ipfs/data/ipfs
bml_ipfs/es
api/result_test_file_size
evalution/mysql/my-db
evalution
note
architecture.drawio

